In [6]:
import requests
import json
import pandas as pd

In [3]:
data = requests.get("https://web.archive.org/web/20240929211114/https://fruityvice.com/api/fruit/all")

In [4]:
results = json.loads(data.text)

In [8]:
df = pd.DataFrame(results)
df.head()

,name,id,family,order,genus,nutritions
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,"{'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'c..."
1,Strawberry,3,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
2,Banana,1,Musaceae,Zingiberales,Musa,"{'calories': 96, 'fat': 0.2, 'sugar': 17.2, 'c..."
3,Tomato,5,Solanaceae,Solanales,Solanum,"{'calories': 74, 'fat': 0.2, 'sugar': 2.6, 'ca..."
4,Pear,4,Rosaceae,Rosales,Pyrus,"{'calories': 57, 'fat': 0.1, 'sugar': 10.0, 'c..."

In [11]:
#normalizing
df2 = pd.json_normalize(results)
df2.head()

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.0,18.0,18.0,0.0
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.4,5.4,5.5,0.8
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.2,17.2,22.0,1.0
3,Tomato,5,Solanaceae,Solanales,Solanum,74,0.2,2.6,3.9,0.9
4,Pear,4,Rosaceae,Rosales,Pyrus,57,0.1,10.0,15.0,0.4

In [12]:
cherry = df2.loc[df2["name"] == 'Cherry']
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

('Rosaceae', 'Prunus')

In [31]:
cal_banana = df2.loc[df2["name"] == 'Banana']
cal_banana.iloc[0]['nutritions.calories']

np.int64(96)

In [32]:
random_jokes = 'https://official-joke-api.appspot.com/jokes/ten'

jokes = requests.get(random_jokes)

In [33]:
output = json.loads(jokes.text)

In [39]:
df = pd.DataFrame(output)
df

,type,setup,punchline,id
0,general,"A weasel walks into a bar. The bartender says,...","Pop,goes the weasel.",78
1,general,Ever wondered why bees hum?,It's because they don't know the words.,108
2,general,Did you hear that the police have a warrant ou...,"It reads ""Small medium at large.""",97
3,general,What did the ocean say to the shore?,"Nothing, it just waved.",179
4,general,Why did the golfer bring two pairs of pants?,In case he got a hole in one.,427
5,general,What is a centipedes's favorite Beatle song?,"I want to hold your hand, hand, hand, hand...",239
6,general,Why does Norway have barcodes on their battles...,"So when they get back to port, they can Scandi...",359
7,general,Why can't bicycles stand on their own?,They are two tired,5
8,general,Did you hear about the kidnapping at school?,"It's ok, he woke up.",90
9,general,How many lips does a flower have?,Tulips,8

In [40]:
df2 = df.drop(columns=["type", "id"], inplace=True)